<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Spect" connectionString="Data Source=helitechonline-data.dexterchaney.com; Initial Catalog=Spectrum; User ID=htc;Password=N5y090#V24;timeout=0"
			  providerName="System.Data.SqlClient" />

    <add name="Accutrax" connectionString="Data Source=accutrax.biz;Initial Catalog=Helitrack_Production_5;User ID=sa;Password=P@ssw0rd ;Encrypt=False; timeout=0" providerName="System.Data.SqlClient"/>
    <add name="Import" connectionString="Data Source=accutrax.biz;Initial Catalog=spectrumImport;User ID=sa;Password=P@ssw0rd ;Encrypt=False; timeout=0" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>